.WeatherManager{
    height: 100vh;
    background-image: url("./background-image.jpg");
    background-repeat:repeat;
    position: relative;
}



.WeatherManager-controls{
    padding-top: 2.4rem;
    display:grid;
    grid-template-columns: repeat(12, auto);
    grid-template-areas: 
    "dbtn lbtn sform sform sform sform sform sform sform sform bbtn sbtn";
    column-gap: .5rem;
}

.WeatherManager .WeatherManager-controls .search-form{
    display:hidden;
    grid-area: sform;
}

.default-btn{
    grid-area: dbtn;
}

.location-btn{
    grid-area: lbtn;
}

.bookmark-btn{
    grid-area: bbtn;
}

.save-btn{
    grid-area:sbtn;
}

.WeatherManager-info{
    margin-top: 5rem;
    display:grid;
    grid-template-columns: repeat(12, auto);
    justify-content:space-between;
    align-items:center;
    grid-template-areas: 
    "Img Img Img Img Img Img Tmp Tmp Tmp Tmp Tmp Tmp";
    column-gap: 8rem;
}

.ExtraWeatherData{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    justify-content:space-around;
}

.temperature{
    grid-area: Tmp;
}
.weather-image{
    grid-area: Img;
}

.animate{
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 2s;
    color: gray;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0%{
        opacity: 0.1;
    }
    25%{
        opacity: 0.2;
    }

    50%{
        opacity: 0.3;
    }

    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.1;
    }
}

.hidden{
    display: none;
}

.Message{
   position: relative;
   top: 4rem;
}

/* @media only screen and (max-width: 1440px) {
    .WeatherManager{
        width: 70vw;
        height: 95vh;
    }

    .App{
        margin: 0;
        width: 70vw;
        height: 95vh;
    }
} */