.Temperature-value{
    position: relative;
    font-size: 30rem;
    /* color: #ffff; */
}

.Temperature-unit{
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    top: -22rem;
    left: -10rem;
}

.Temperature-location{
    font-size: 4rem;
    font-weight: bold;
    margin-left: -10rem;
    margin-top: -5rem;
}