.Card{
    margin: 2rem auto;
    background-color: #fff;
    border: 1px solid #1F2124;
    width: 60%;
    padding: 2rem;
    text-align:left;
    border-radius: 7px;
}

.actions{
    display:flex;
    justify-content: flex-end;
}

.fa-trash-alt{
    margin-right: 1.5rem;
}

.fa-trash-alt, .fa-search-location{
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2rem;
}