
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    font-family: 'Architects Daughter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

body{
    box-sizing: border-box;
    background-color: #ffff;
}

#root{
    width: 100vw !important;
}